BASE_URL=http://localhost:3000

DATABASE_URL="postgresql://postgres:super-secret-password@localhost:5432/mail0"

# Change this to a random string, use `openssl rand -hex 32` to generate a 32 character string
BETTER_AUTH_SECRET=my-better-auth-secret 
BETTER_AUTH_URL=http://localhost:3000

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com

# Upstash Redis Instance
REDIS_URL=""
REDIS_TOKEN=""
